.todolist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}
.app{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  font-family:  Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-conent: center;
  box-shadow: 5px 10px 18px #888888;
  max-width: 300px;
  height:100%;
  padding: 0.5em

}

.card:hover{
  color: black;
  opacity: 0.5;

}

@media (max-width: 580px) {
  .todolist {
    display: block;
  }
}
